#alert {
    transition: opacity 5000ms 0ms;
}

.datepicker{
    margin-top:60px !important;
}

.booksTable {
    border-spacing: 4px 2px;
}

.booksTable > thead > tr {
    font-size: 18px;
    padding: 5px 0;
    border-bottom: 4px solid black;
}

.booksTable > tbody > tr:nth-child(2n+1) {
    background: rgb(183, 236, 176);
}
.booksTable > tbody > tr:nth-child(2n) {
    background: rgb(219, 255, 235);
}
.booksTable tr {
    text-align: center;
}

/* The Modal (background) */
.modal-window {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-left: 15px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-window-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close-window {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-window:hover,
.close-window:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 10px 25px !important;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}